*.tar.gz
*.dsc
*.deb
git.spec
*.exe
*.[aos]
*.py[co]
/build/
config.mak
iccexamin
icc_examin_cp
autom4te.cache
annotated
RH_Brief.txt
config.cache
config.log
config.log.h
config.tmp.sh
config.status
config.mak.autogen
config.mak.append
mkdepend*
Makefile
lookup3
gmon.out
fltk_test.cpp
liboyranos*
oyranos-policy
oyranos-config-fltk
oyranos-config
oyranos_config_flu.cpp
oyranos.alles.spec.sf
oyranos-config-fltk.ru
oyranos-monitor-nvidia
oyranos_monitor_nvidia.c_*
oyranos_monitor_nvidia_*
oyranos-monitor
oyranos_version.h
patch
rpmdir
temp
wwwsite
*.edit*
*.pro.user
diff*
*.po_*.*
*.po~
*.gmo
*.spec
*.pc
*.icc
*.avi
*.png
*.ps
*.jpg
*.wrl*
*.xml
fl_i18n/fl_i18n_example
elektra-0.6.4*
doc*
doxymentation.sh
internal_doc
more_profiles
fl*
test_*
*.diff
tags
TAGS
cscope*
API_generated/
