*.o
*.lo
*.so
*.a
*.la
*~
*.swp
*.tiff
*.png
*.cr2
*.icc
*.ppm

CMakeCache.txt
CMakeFiles/
CMakeLists.txt.full
Makefile
cmake_install.cmake
exif.txt
dcraw.txt
raw2tiff
scan
oytest
install_manifest.txt
oyRE_help.c
SANE_help.c
