@font-face {
  font-family: Elsie;
  src: url(../fonts/Elsie-Regular.woff) format(woff);
}
@media screen and (orientation:portrait) {
body { margin: 0.25rem; } }
@media screen and (orientation:landscape) {
body { margin: 0.55rem; } }

/* hide translations initially */
.hide { display: none; }
/* show a browser detected translation */
:lang(de) { display: block; }
li:lang(de) { display: list-item; }
a:lang(de) { display: inline; }
em:lang(de) { display: inline; }
/*span:lang(de) { display: inline; }*/
/* hide default language, if a translation was found */
:lang(de) ~ [lang=en] {
  display: none;
}

body {
  background-color: #eee;
}
h1,h2,h3 {
  font-family: 'Elsie';
  /*font-weight: bold;
  font-variant: small-caps;*/
  font-style: normal;
  text-align: center;
  color: black;
  background-color: #eee;
}
h1 {
  font-size: 3em;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  margin: 0;
}
h2 {
  font-size: 2em;
  color: white;
  background-color: #568;
}
h3 {
  font-size: 1.5em;
}
h3,.mandatory {
  color: black;
  background-color: #75bffc;
}

em {
  font-size: 1.1em;
}
a {
  text-align: center;
  color: black;
  text-decoration: none;
}
a:hover, a:focus {
  transition: 1s color;
  transition: 1s opacity;
  text-decoration: underline;
  opacity: 1.0;
}

.topmenu a {
  display: block;
  text-align: center;
  line-height: 3;
  font-weight: bold;
  white-space: nowrap;
  padding: 0em 0.8em;
  margin: 0.5em 0em;
  border-radius: 0.2em;
  background: #568;
  box-shadow: 0 0 0.5em #568;
  opacity: 0.8;
  color: white;
}
.topmenu, .topmenu p, .topmenu span {
  width: 100%;
  text-align: justify;
  display: inline-block;
  margin: 0;
}
.topmenu {
  display: block;
}
.topmenu-background {
  background-color: #eee;
}
.topmenu-background div {
  margin: 0px 2vw;
  width: 86vw;
  width: -moz-available;          /* For Mozzila */
  width: -webkit-fill-available;  /* For Chrome. */
}
.mobile {
  display: none;
}
.desktop {
  height: 0px;
  padding-top: 1vw;
  overflow: visible;
  overflow-y: hidden;
  transition: height 0.5s linear;
}
details p { margin: 0; }
details summary::marker { content: '►'; }
details[open] summary::marker { content: '▼'; }
details[open] details summary::marker { content: '►'; }
details[open] details[open] summary::marker { content: '▼'; }
input[type=checkbox].mobile:checked ~ .desktop {
  height: 20em;
  padding-bottom: 4.5vw;
}
label[for].icon-bar {
  font-size: 2em;
  font-weight: bold;
  line-height: 0.25;
  text-align: center;
  white-space: nowrap;
  color: black;
  background-color: #eee;
  opacity: 0.8;
  padding: 0.43em 0.35em;
  border-radius: 0.1em;
  box-shadow: 0 0 0.25em #eee;
}
label[for].icon-bar:hover {
  transition: 0.5s color;
  transition: 0.5s box-shadow;
  transition: 0.5s background-color linear;

  color: white;
  background-color: #568;
  box-shadow: 0 0 0.25em #568;
}
form select, form label[for] {
  width: 49%;
  display: inline-block;
  height: 1.7em;
}
form label[for] {
  vertical-align: middle;
}
form select {
  padding: 0.1em 0;
}
form input {
  width: 49%;
  display: inline-block;
  text-align: center;
  white-space: nowrap;
  color: black;
  background-color: #eee;
  padding: 0.2em 0;
  border-width: 0;
  border-radius: 0.1em;
}
form input[type=checkbox] {
  width: 49%;
}
form input[type=range] {
  width: 49%;
}
input[type=submit] {
  width: 100%;
  font-weight: bold;
}
p, .tile2, .tile {
  page-break-inside: avoid;
}

a.img {
  border: 1px solid #ddd;
}
img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 97.5%;
}
.figure .picture {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 97.5%;
}

@media (min-width: 750px) {
  body {
    margin: 3rem;
  }
  h1 {
    font-size: 5vw;
  }
  h2 {
    font-size: 4.5vw;
  }
  h3 {
    font-size: 3vw;
  }
  .topmenu a {
    display: inline-block;
    padding: 0em 0.3em;
  }
  .desktop, .topmenu p, .topmenu span {
    display: inline-block;
    text-align: justify;
    width: 100%;
    margin: 0;
  }
  input[type=checkbox].mobile:checked ~ .desktop, .desktop {
    height: auto;
    padding-bottom: 1.35vw;
  }
  label[for].icon-bar {
    display: none;
  }
}

@media (min-width: 1000px) {
  .tiles {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: flex-start;
    width: 100%;
  }
  .tile {
    flex: 0 1 49%;
  }
  .tile2 {
    flex: 1 280px;
    margin: 0 1vw 0 0;
  }
  h1,h2,h3 {
    font-weight: normal;
    font-variant: normal;
  }
  .topmenu a {
    padding: 0em 1em;
  }
}
@media (min-width: 1200px) {
  @supports ( display: flex ) {
    .tile {
      flex: 0 1 24%;
    }
    h1 {
      font-size: 3vw;
    }
    h2 {
      font-size: 3vw;
    }
    h3 {
      font-size: 2vw;
    }
  }
  .topmenu a {
    font-size: 1.1em;
  }
}


@media (prefers-color-scheme: dark) {
  /* dunkles Farbschema für die Nacht */
  body {
    color: white;
    background: #555;
  }
  a {
    color: #7ea;
  }
  h1,h2,h3,.mandatory {
    color: #7da;
    background-color: #333;
  }
  h2 {
    /*color: black;
    background-color: #75fcbf;*/
  }
  .topmenu a {
    color: white;
    box-shadow: 0 0 0.5em #586;
    background: #586;
  }
  .topmenu-background {
    background-color: #333;
  }
  label[for].icon-bar {
    color: #586;
    background-color: #eee;
    box-shadow: 0 0 0.25em #eee;
  }
  label[for].icon-bar:hover {
    color: white;
    background-color: #586;
    box-shadow: 0 0 0.25em #586;
  }
}

@media (prefers-color-scheme: light) {
  /* helles Farbschema für den Tag */
  body {
    color: black;
    background-color: white;
  }
  a {
    color: black;
  }
  h1,h2,h3,.mandatory {
    color: black;
    background-color: #eee;
  }
  h2 {
    color: black;
    background-color: #75bffc;
  }
  h3,.mandatory {
    color: black;
    background-color: #75bffc;
  }
  .topmenu a {
    box-shadow: 0 0 0.5em #568;
    background: #568;
  }
  .topmenu-background {
    background-color: #eee;
  }
}
