[Desktop Entry]
Categories=Graphics;Viewer;
Exec=oyranos-image-display --no-logo %u
TryExec=oyranos-image-display
Comment=Oyranos Image Viewer
MimeType=image/png;image/ppm;image/pfm;image/x-portable-pixmap;image/x-dcraw;image/cr2;image/sti;image/nef;image/tiff;image/jpeg;image/x-exr;image/x-hdr;
GenericName=Image Viewer
GenericName[de]=Bildbetrachter
Name=Oyranos Image Display
Name[de]=Oyranos Bildbetrachter
Icon=oyranos_logo
StartupNotify=false
Terminal=false
Type=Application
NoDisplay=true
